@using X.PagedList
@using X.PagedList.Mvc.Core
@using SanctionScannerCase.Application.Contracts.Books
@using X.PagedList.Web.Common;
@model IPagedList<BookJoinBorrowedBookDto>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .pagination {
            display: flex;
            list-style: none;
            padding: 0;
            justify-content: center;
        }

            .pagination li {
                margin: 0 5px;
            }

            .pagination a {
                text-decoration: none;
                padding: 5px 10px;
                border: 1px solid #ddd;
                color: #333;
            }

                .pagination a:hover {
                    background-color: #f5f5f5;
                }

            .pagination .active a {
                background-color: #007bff;
                color: #fff;
                border-color: #007bff;
            }
    </style>
</head>
<body>

    <div class="mx-5">
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-white">
                <tr>
                    <th></th>
                    <th>Kitap Adı</th>
                    <th>Yazarı</th>
                    <th>Türü</th>
                    <th>Sayfa Sayısı</th>
                    <th>Ön Yazı</th>
                    <th>Ödünç Durumu</th>
                    <th>Ödünç Alan Kişi Tc</th>
                    <th>Adı</th>
                    <th>Teslim Edilecek Tarih</th>
                    <th width="120"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model)
                {
                    <tr>

                        @if (book.Image != null && book.Image.Length > 0)
                        {
                            var base64String = Convert.ToBase64String(book.Image);
                            var imgSrc = string.Format("data:image/jpeg;base64,{0}", base64String);
                            <td><img src="@imgSrc" width="100" alt="Image" /></td>
                        }
                        <td>@book.Name</td>
                        <td>@book.Author</td>
                        <td>@book.Type</td>
                        <td>@book.PageCount</td>
                        <td>@book.CoverLetter</td>
                        @if (book.Status)
                        {
                            <td> <a class="btn btn-outline-dark my-2 my-sm-0 disabled w-100">Müsait </a></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> <a href="/BorrowedBook/PostBorrowedBook?Id=@book.Id" class="btn btn-outline-success my-2 my-sm-0">Ödünç Ver</a></td>
                        }
                        else
                        {
                            <td> <a class="btn btn-outline-dark my-2 my-sm-0 disabled">Ödünç Verildi</a></td>
                            <td>@book.BorrowedBooks.BorrowerTc</td>
                            <td>@book.BorrowedBooks.BorrowerName</td>
                            @if (!book.BorrowedBooks.ReturnDate.Year.Equals(1))
                            {
                                <td>@book.BorrowedBooks.ReturnDate.ToShortDateString()</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td> <a href="/BorrowedBook/PostReturnBook?Id=@book.BorrowedBooks.Id&BookId=@book.Id" class="btn btn-outline-success my-2 my-sm-0 w-100">İade Al</a></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions { DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded, DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded })
    </div>
</body>
</html>
