@model SanctionScannerCase.Application.Contracts.Books.BooksCreateDto;

<div class="m-3">
    <div class="p-2 pl-4 mb-4  rounded" style="display:flex;flex-wrap:wrap;align-items:center;background-color:#14C38E">
        <div class="m-0 text-white" style="text-align:center;width:20%"><h5 class="m-0">Yeni Kitap Ekleme Formu</h5></div>
        <div class="bg-white rounded ml-5" style="height:2px;width:70%"></div>
    </div>
    <hr />

    <form class="form-group row" method="post" enctype="multipart/form-data">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-12">
            @Html.Label("Kitap Adı")
            @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
            <div style="position:relative">
                <span style="position:absolute;right:20px">@Html.ValidationMessage("Name", new { @style = "color:red" })</span>
            </div>
        </div>
        <div class="col-6 py-3">
            @Html.Label("Yazarı")
            @Html.TextBoxFor(c => c.Author, new { @class = "form-control" })
            <div style="position:relative">
                <span style="position:absolute;right:20px">@Html.ValidationMessage("Author", new { @style = "color:red" })</span>
            </div>
        </div>
        <div class="col-6 py-3">
            @Html.Label("Türü")
            @Html.TextBoxFor(c => c.Type, new { @class = "form-control" })
            <div style="position:relative">
                <span style="position:absolute;right:20px">@Html.ValidationMessage("Type", new { @style = "color:red" })</span>
            </div>
        </div>
        <div class="col-6">
            @Html.Label("Sayfa Sayısı")
            @Html.TextBoxFor(c => c.PageCount, new { @class = "form-control",type="number",@min=1 })
            <div style="position:relative">
                <span style="position:absolute;right:20px">@Html.ValidationMessage("PageCount", new { @style = "color:red" })</span>
            </div>
        </div>
        <div class="col-6">
            @Html.Label("Ön Yazı")
            @Html.TextAreaFor(c => c.CoverLetter, new { @class = "form-control" })
            <div style="position:relative">
                <span style="position:absolute;right:20px">@Html.ValidationMessage("CoverLetter", new { @style = "color:red" })</span>
            </div>
        </div>
        <div class="col-6">
            @Html.Label("Resim")
            <input class="form-control" type="file" name="imageFile" accept="image/*" />
            @if (ViewBag.ImageError)
            {
                <div style="position:relative">
                    <span style="position:absolute;right:20px;color:red">'Image' boş olmamalı.</span>
                </div>
            }
        </div>
        <button class="mt-3 col-12 btn text-white" style="background-color:#14C38E">Ekle</button>
    </form>
</div>